<%- include("header") -%>

<div class="container">
    
    <div class="post">
        <h1>Compose</h1>
    
        <form method="POST" action="/compose">
            <div class="post__title">
                <p>Title</p>
                <input type="text" name="postTitle" class="post__text post__title__text">
            </div>
    
            <div class="post__content">
                <p>Post</p>
                <textarea rows="8" name="postContent" class="post__text post__content__text"></textarea>
            </div>
    
            <button type="submit" class="btn">Publish</button>
        </form>
    
    </div>
    
</div>

<script src="/scripts/script.js"></script>