<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="/scss/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>

    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c container">
            
            <a href="/" class="header__logo">DAILY JOURNAL</a>

            <div href="#" class="header__hamburger__menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="header__default__links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>

            <div class="header__mobile__links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>

        </nav>

        <div id="overlay" class="overlay"></div>

    </header>